/* ============== block model css ================ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ================== Common styles ================= */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ===================== General styles ================== */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =================== Header style ==================*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
}
.header-logo {
  margin-right: 76px;
  padding: 24px 0;
}
.logo-studio-header {
  color: #2e2f42;
}
.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 500;
  color: #2e2f42;
}
.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link.current {
  position: relative;
  color: #404bbf;
}
.menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
}

.address {
  font-style: normal;
  color: #434455;
}
.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
/* =========== hero =========== */
.hero {
  color: #fff;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/portfolio/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.heading {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.btn-link {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-link:hover,
.btn-link:focus {
  background: #404bbf;
}
/* ================== section 2 ============= */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advantages-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.advantages-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
/* =================== section 3 ============== */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.team-member-card {
  text-align: center;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.team-member {
  padding: 32px 0;
}
.team-member-name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-member-position {
  text-align: center;
  margin-bottom: 8px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-links-item {
  width: 40px;
  height: 40px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.social-link-icon {
  fill: #f4f4fd;
}
/* ================== section 4 =============== */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}
.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item-img {
  position: relative;
  overflow: hidden;
}
.portfolio-item-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-item-overlay,
.portfolio-item:focus .portfolio-item-overlay {
  transform: translateY(0%);
}

/* ========================= Footer style ======================== */
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-content {
  margin-right: 120px;
}
.social-links-container {
  margin-right: 80px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.footer-desc {
  max-width: 264px;
  color: #f4f4fd;
}
.footer-social-links-title {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-links {
  display: flex;
  gap: 16px;
}

.footer-social-links-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-link-icon {
  fill: #f4f4fd;
}
.footer-subscribe-desc {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  width: 453px;
  gap: 24px;
}
.subscribe-email {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-email:focus {
  border-color: #31d0aa;
  outline: transparent;
}
.subscribe-email::placeholder {
  color: #fff;
}
.subscribe-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #31d0aa;
}
.subscribe-icon {
  margin-left: 16px;
}
/* =========================Modal-overlay-style(Backdrop)====================== */
.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* ===================== modal window styles ==================== */
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
  margin-bottom: 34px;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  line-height: 0;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #fff;
  border: none;
  background-color: #404bbf;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-description {
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
/* ===================== Review form style ================== */
.review-form {
  width: 100%;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}
.review-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.review-form-input-wrapper {
  position: relative;
}
.review-form-input {
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
}
.review-form-field-message {
  margin-bottom: 16px;
}
.review-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  outline: transparent;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.review-form-checkbox-wrapper {
  display: flex;
  margin-bottom: 24px;
}
.review-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-privacy-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 1px solid #404bbf;
}
.review-form-privacy-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
  border: none;
}
.review-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.review-form-submit-btn {
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
  background-color: #404bbf;
}
